*{
    margin: 0;
   padding: 0;
}

body{
    display: flex;
    background-image: linear-gradient(to right,black, gray);
    font-family: 'Open Sans';
    color: whitesmoke;
    flex-direction: column;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 0;
    left: 0;
    width: 96%;
    background-color: #333; /* Cor de fundo da navegação */
    z-index: 1000; /* Garante que a navegação esteja sempre acima do conteúdo */
    transition: top 5s ease; /* Adiciona transição suave ao mudar a propriedade 'top' */
    padding: 25px;
}

nav.fixed {
    position: fixed;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adiciona sombra sutil para destacar a navegação fixa */
}

nav h1{
    margin-left: 100px;
}
nav ul{
    display: flex;
    gap: 30px;
    margin-right: 300px;
}


a{
    text-decoration: none;
    color: white;
}

li a:hover{
    color: black;
    background-color: white;
    border-radius: 5px;
    padding: 5%;
}

li{
    list-style: none;
    color: white;
}

.visitante{
    display: flex;
    flex-direction: row;
}

#nomeVisitante{
    margin: none;
}

.divVisita{
    display: flex;
    flex-direction: row;
}

.apresentacao{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    background-color: rgba(255, 255, 255, 0.11);
    width: 100%;
    
}

.textCaique{
    font-size: 20px;
    padding: 15px;
    margin: 10px;
}

.sobreSkills{
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 600px;
    font-size: 17px;
    align-items: center;
}
.sobre{
    width: 40%;
}

article{
    padding: 8%;
}

.firstLine{
    margin-top: 15px;
}

.secondLine{
    margin-top: 15px;
}

.thirdLine{
    margin-top: 15px;
}

.fourthLine{
    margin-top: 15px;
}

.imgSkills{
    height: 128px;
    padding: 20px;
    transition: all 0.3s ease;
}

.imgSkills:hover{
    height: 120px;
    padding: 20px; 
}

.skills{
    margin-top: 100px;
}

.icons{
    margin-top: 15px;
}
.iconsBaixo{
    margin-left: 8px;
    display: flex;
    flex-direction: row;
}

.contato{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.11);
    height: 500px;
    align-items: center;
}
.textContato{
    padding-top: 70px;
}
.imagensContato{
    flex-direction: row;
    padding-top: 25px;
}

.imgContato{
    height: 100px;
    margin: 30px;
}

.imgContato:hover{
    height: 80px;
    
}
#wpp:hover{
    background-color: #25D366;
    border-radius: 40%;
}

#linkedin:hover{
    background-color: #0e76a8;
    border-radius: 20%;
}

#email:hover{
    background-color:azure;
    border-radius: 14%;
}

section p{
    margin-top: 20px;
}

footer{
    color: white;
    background-color: black;
    align-items: center;
    text-align: center;
}

@media (min-width:768px) and (max-width: 1024px) {
    .sobreSkills{
        display: flex;
        font-size: 16px;   
        align-items: center;
    }

    .imgSkills{
        height: 100px;
        padding: 20px;
    }
    .imgSkills:hover{
        height: 92px;
        padding: 20px; 
    }
}


@media (max-width: 768px){
    nav h1{
        margin-left: 10px;
    }
    nav ul{
        margin-right: 10px;
    }

    .textCaique{
        font-size: 17px;

    }
    .fotoPessoal{
        height: 500px;
    }
    .apresentacao{
        height: 550px;
    }

    .sobreSkills{
        flex-direction: column;
        height: 1200px;
    }
    .sobre{
        width: 100%;
        margin-top: 27px;
    }
}

@media (max-width: 428px){
   nav{
    width: 89%;
   }
    body{
        width: 100%;
    }
    .fotoPessoal{
        height: 500px;
    }
    .divVisita{
        justify-content: center;
        margin-top: 50px;
    }
    .textCaique h2{
        font-size: 17px;
    }
    .textCaique h3{
        font-size: 17px;
    }
    .apresentacao{
        height:700px;
        flex-direction: column;
        text-align: center;
    }

    .imgSkills{
        height: 74px;
        padding: 20px;
        margin-left: 20px;
    }
    .imgSkills:hover{
        height: 66px;
        padding: 20px; 
    }
    .sobreSkills{
        height: max-content;
    }
    .sobre{
        margin-top: 50px;  
    }
    .imgContato{
        height: 80px;
        margin: 30px;
    }
    
    .imgContato:hover{
        height: 70px;
    }
    #email{
        height: 73px;
    }
    #email:hover{
        height: 63px;
    }

    .conhecimento:hover{
        margin-bottom: 30px;
        font-size: 12px;
        align-items: center;
    }
   .textJSJAVA{
    display: flex;
    align-items: center;
   }
    

}

@media (min-width: 1200px){
    nav{
        width:97%;
    }
    
    .apresentacao{
        height: 800px;
    }

    .sobreSkills{
        height: 800px;
    }
    .imgSkills{
        margin-left: 40px;
    }
    .textConhecimento{
        margin-left: 40px;
    }
    .jsjava p{
        margin-left: 70px;
    }
    .fotoPessoal{
        margin-left: 60px;
        align-self: self-end ;
    }
}

@media (min-width: 1440px){
    nav{
        width:98%;
    }
    
    .apresentacao{
        height: 1000px;
    }

    .sobreSkills{
        height: 1000px;
        font-size: 26px;
    }
    .fotoPessoal{
        margin-left: 60px;
        align-self: self-end;
        height: 900px;
    }

    .contato{
        height: 1000px;
    }

    .itensContato{
        display: flex;
        flex-direction: column;
        margin-top: 15%;
    }
    .textContato{
        font-size: 36px;
    }
    .imagensContato img{
        height: 200px;
    }
    .imagensContato img:hover{
        height: 180px;
    }


}

.textConhecimento{
    visibility: hidden;
    width: 100px;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    text-align: center;
    margin-top: 0;
   
}

.conhecimento:hover .textConhecimento{
    visibility: visible;
}

.conhecimento:hover{
    margin-bottom: 30px;
    font-size: 15px;
    align-items: center;
}



.conhecimento{
    position: relative;
    display: inline-block;
}




.iconsCima{
    display: flex;
    flex-direction: row;
}



.textJSJAVA{
    visibility: hidden;
    width: 100px;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    text-align: center;
    margin-top: 0;
    margin-left: 30px;
   
}

.jsjava:hover .textJSJAVA{
    visibility: visible;
}

.jsjava:hover{
    margin-bottom: 30px;
    font-size: 15px;
    align-items: center;
}



.jsjava{
    position: relative;
    display: inline-block;
}

